* {
  box-sizing: border-box;
  margin: 0;
  padding: 0rem;
  font-family: "Segoe UI", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;


}


body {
  height: 100vh;
  display: flex;
  
  /* background: linear-gradient(160deg, #2C3E50, #3A6073, #4CA1AF, #ADD8E6, #E0FFFF); */
  background: linear-gradient(145deg, #010b15, #011627, #023e7d, #0353a4, #0466c8, #2b8fd8);

  /* background: linear-gradient(130deg, #F600FF, #2D2DFF, #04C2C9, #5C6BC0, #FF4F00); */
  /* autum background: linear-gradient(130deg, #FF4E00, #F05454, #D64B3C, #AE3C3C, #832C1E); */
  /* background: linear-gradient(130deg, #011C40, #024059, #0396A6, #04BFBF, #9CE3D5); */
  /* background: linear-gradient(to right, #83a4d4, #b6fbff); */
  justify-content: center;
  align-items: center;
  /* padding: 10px;
  overflow-y: auto; */
}

/*----------------------------------------------------------------------------------------- */

.login-container {

  background: transparent;
  padding: 2rem 2.5rem;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 350px;
  /* overflow-y: auto; */
}

/* .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  
} */

.login-form h1,
h2,
.main-container h1,
h2 {
  color: #d3e9ff;
  text-align: center;
}

.login-form label {
  display: block;
  text-align: left;
  margin-top: 0.95rem;
  margin-bottom: 0.95rem;
  color: #d3e9ff;
  font-size: 0.95rem;
  width: 100%;
}

.login-form input::placeholder {
  color: #c0defc;
  opacity: 0.6;
  font-size: 0.9rem;
}

.login-form input {
  outline: none;
  color: #c0defc;
  background-color: #0353a4;
  background: transparent;
  width: 100%;
  padding: 0.75rem;
  border: 2px solid #2b8fd8;
  border-radius: 8px;
  font-size: 0.9rem;
  transition: border 0.3s;

  /* padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 0.9rem;
  transition: border 0.3s;
  padding: 10px;
  width: 300px; */
}

.login-form input:focus {
  border: 2px solid #c0defc;


}

.login-form button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  background-color: #023e7d;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  color: #c0defc;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: transparent;
  transition: background-color 0.3s;
}

.login-form button:hover {
  background-color: #0353a4;
  color: #d3e9ff;
}

.signup-text,
.login-text {
  color: #c0defc;
  text-align: center;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.signup-text a {
  text-decoration: none;
  color: #d3e9ff;
  font-weight: bold;
  transition: color 0.3s ease;
}

.signup-text a:hover {
  text-decoration: underline;

}

/*----------------------------------------------------------------------------------------- */

.main-container {
  background-color: #2b90d81b;
  padding: 2rem 2.5rem;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  max-width: 800px;
  max-height: 90vh;
  overflow: auto;
  justify-content: center;
  text-align: center;
  backdrop-filter: blur(10px);
}

/* Menu Tabs */

.menu-tabs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1rem;
  padding: 0rem 0.5rem;
  justify-content: center;

  background: transparent;
}

.menu-tabs button {
  
  max-width: 150px;
  margin: 0.3rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.menu-tabs button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  transform: scale(1.05);
  /* Slight zoom effect */
}

/*----------------------------------------------------------------------------------------- */

.textDescription {
  color: #c0defc;
  text-align: center;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.here {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-bottom: 0rem;
  /* padding: 1rem 0rem; */
  padding-bottom: 0%;
  /* background-color: #2b90d81b; */
  /* background: linear-gradient(145deg, #010b15, #011627, #023e7d, #0353a4, #0466c8, #2b8fd8); */

  /*bottom border radius adjust*/
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}


/* .here label {
  display: block;
  text-align: left;
  margin-top: 0.95rem;
  margin-bottom: 0.95rem;
  color: #d3e9ff;
  font-size: 0.95rem;
  width: 100%;
} */

.here input::placeholder {
  color: #c0defc;
  opacity: 0.9;
  font-size: 0.9rem;
  font-weight: 400;
}

.here option {
  color: #0353a4;
  background: transparent;


}

.here select {
  outline: none;
  color: #c0defc;
  background-color: #0353a4;
  background: transparent;
  padding: 10px;
  margin: 0.5rem;
  width: 100%;
  
  width: 320px; 
  border: 2px solid #2b8fd8;
  border-radius: 8px;
  font-size: 0.9rem;
  transition: border 0.3s;
  
}
.here input[type="text"],
.here input[type="tel"],
.here input[type="number"],
.here input[type="month"] {
  
  outline: none;
  color: #c0defc;
  background-color: #0353a4;
  background: transparent;
  padding: 10px;
  margin: 0.5rem;
  width: 100%;
  
  width: 320px; 
  border: 2px solid #2b8fd8;
  border-radius: 8px;
  font-size: 0.9rem;
  transition: border 0.3s;
  font-weight: bold;
} 

.here input[type="text"]:focus,
.here input[type="tel"]:focus,
.here input[type="number"]:focus,
.here input[type="month"] {
  border: 2px solid #c0defc;
  background-color: #0353a4;
  background: transparent;
  font-size: 0.9rem;
  transition: border 0.3s;
  font-weight: 400px;
}

.here input[type="text"]:focus::placeholder,
.here input[type="tel"]:focus::placeholder,
.here input[type="number"]:focus::placeholder,
.here input[type="month"] {
  color: #c0defc;
  opacity: 0.9r;
  font-size: 0.9rem;
  
}

.here input:disabled{
  border: 2px solid #2b8fd8;
  background-color: #4d5f70;
  background: transparent;
  transition: border 0.3s;
  font-weight: 400px;
  opacity: 0.5;
}

/*----------------------------------------------------------------------------------------- */
/* Table wrapper allows horizontal scrolling */
.manage-boarder-table{
  width: 100%;
  overflow-x: auto; /* Enables horizontal scrolling when content overflows */
  margin: 0 auto; /* Centers the container */
  padding: 0.5rem;
}



/* Table styles */

table {

  width: 100%;
  min-width: 600px; /* Minimum width to prevent collapsing */
  background-color: transparent;
  border-collapse: collapse;
  table-layout: auto; /* Allows the table to adjust its width based on content */
  /* padding: 0.5rem; */
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: #fff;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  width: auto; /* Allows the column to adjust its width based on content */
}

/*header styles*/
th {
  font-size: 10px;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  background: transparent;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* data cells styles*/
td {
  font-size: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(233, 164, 164, 0.1);
}

tr {
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
  
}
tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Optional: Add spacing between rows for a more breathable layout */
tr:not(:last-child) {
  margin-bottom: 10px;
}
/*----------------------------------------------------------------------------------------- */


/*----------------------------------------------------------------------------------------- */

/* h1 {
  text-align: center;
  color: #fcf9f9;
}

h2 {
  text-align: center;
  color: #fcf9f9;
  background: transparent;
  border-color: #fcf9f9;
  font-size: 1.5rem;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;

} */

/*----------------------------------------------------------------------------------------- */

/* Card Sections */
.card-section {
  max-height: 60vh;
  overflow-y: auto;
  display: none;
  opacity: 0;
  margin-top: 1rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  background: linear-gradient(145deg, #010b15, #011627, #023e7d, #0353a4, #0466c8, #2b8fd8);
  justify-content: center;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.card-section.active {
  display: block;
  opacity: 1;
}

.card-section h2 {
  width: 100%;
  max-width: 100%;
  text-align: center;
  color: #d3e9ff;
  background: transparent;
  
  border-color: #d3e9ff;
  font-size: 1.5rem;  
  /* margin-top: 0.5rem;
  margin-bottom: 1.5rem; */
  /* margin: 0rem 0; */
  padding-top: 0rem;
  /* border-bottom: 2px solid #d3e9ff79;  */
  transition: background-color 0.3s ease, transform 0.2s ease;
  
}


/*----------------------------------------------------------------------------------------- */



/*----------------------------------------------------------------------------------------- */

.manage-boarder-buttons {
  display: flex;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0rem; 
}



.manage-boarder-buttons input[type="text"] {
  outline: none;
  color: #c0defc;
  background-color: #0353a4;
  background: transparent;
  padding: 10px;
  margin: 0.5rem;
  width: 100%;
  max-width: 100%;
  border: 2px solid #2b8fd8;
  border-radius: 8px;
  font-size: 0.9rem;
  transition: border 0.3s;
}

.manage-boarder-buttons input[type="text"]:focus {
  border: 2px solid #c0defc;
  background-color: #0353a4;
  background: transparent;
}

.manage-boarder-buttons input[type="text"]::placeholder {
  color: #c0defc;
  opacity: 0.9;
  font-size: 0.9rem;
}

.manage-boarder-buttons button{
  padding: 10px;
  margin: 0.5rem;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: small;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  
}

.manage-boarder-buttons button:enabled:hover {
  background-color: #2b8fd8;
  transform: scale(1.05);
  /* Slight zoom effect */
}

.manage-boarder-buttons buttons:disabled:hover {
  padding: 10px;
  margin: 0.5rem;
  border: none;
  color: white;
  cursor: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: small;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;

}

/*----------------------------------------------------------------------------------------- */

/* a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

a:hover {
  color: #667eea;

} */

/* a.button {
  text-decoration: none;
  padding: 10px;
  color: white;
  text-align: center;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s;
}

a.button:hover {
  background-color: #556cd6;
} */

/* button {
  padding: 10px;
  background-color: #667eea;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background-color: #764ba2;
} */


/*----------------------------------------------------------------------------------------- */

.selected-row {
  background-color: rgba(255, 255, 255, 0.3);
  color: #000;
  font-weight: bold;
  transition: background-color 0.3s ease;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* Prevents text from wrapping */
  transition: background-color 0.3s ease, transform 0.2s ease;

}